<section class="sec-footer">
  <div class="pad">
    <div class="col-sm-12">

      <div class="col-sm-3 first-row">
        <h5>wat to Eat,LLC</h5>
        <ul>
          <li>Terms of services</li>
          <li>Privacy Plolicy</li>
          <li>Help</li>
        </ul>
        <div class="store-images">
          <div class="play-mr-bt"> 
            <img src="../../assets/play_store.PNG">
          </div>
          <div>
            <img src="../../assets/app_store.PNG">
          </div>
        </div>
        <p class="copy-right">© All Rights Reserved</p>
      </div>

      <div class="col-sm-3 first-row">
        <h5>Know Us</h5>
        <ul>
          <li>About wat to Eat</li>
          <li>Careers</li>
          <li>Blogs</li>
        </ul>
        <div class="social-media">
            <h5>Follow Us</h5>
            <div class="media">
              <div class="menu">
                <i class="fa fa-facebook"></i>
              </div>
              <div class="menu">
                <i class="fa fa-twitter"></i>
              </div>
              <div class="menu">
                <i class="fa fa-google-plus"></i>
              </div>
              <div class="menu">
                  <i class="fa fa-instagram"></i>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-3 first-row">
        <h5>Partners</h5>
        <ul>
            <li>Drive for wat to Eat</li>
            <li>Restorant Partners</li>
          </ul>
      </div>
     
      <div class="col-sm-3 first-row">
        <h5>Location</h5>
        <ul>
            <li>Norristown</li>
            <li>King of Prussia</li>
            <li>Bridge Port</li>
            <li>Wayne</li>
            <li>Malvern</li>
            <li>Paoil</li>
            <li>Extorn</li>
            <li>West Chester</li>
            <li>Downingtown</li>
          </ul>
      </div>

    </div>
  </div>
</section>