<div>
  <div>
    <small class="Previusly-used-address">Previusly used Address</small>
  </div>

  <div class="payment-radio-button">
    <mat-radio-button class="debit-card">
      <img src="../../assets/visa-pay-logo.png" class="debit-img">
        <span class="debit-card-ending">Visa ending in 4587</span>
    </mat-radio-button>
  </div>
  <hr>
  <div class="payment-radio-button">
      <mat-radio-button class="debit-card">
        <img src="../../assets/american-express.PNG" class="debit-img">
          <span class="debit-card-ending">American Express ending in 1025</span>
      </mat-radio-button>
    </div>
    <hr>
    <div class="payment-radio-button">
        <mat-radio-button class="debit-card">
          <img src="../../assets/Discover.PNG" class="debit-img">
            <span class="debit-card-ending">Discover ending in 2563</span>
        </mat-radio-button>
      </div>
      <hr>
      <div class="payment-radio-button">
          <mat-radio-button class="debit-card">
            <img src="../../assets/apple.PNG" class="debit-img">
              <span class="debit-card-ending">Apple pay</span>
          </mat-radio-button>
        </div>
        <hr>
        <div>
            <span class="material-icons add-circle">add_circle</span>
            <small class="add-new-address">Add New Address</small>
          </div>
</div>