.Previusly-used-address{

}
.payment-radio-button{
    margin-top: 20px;
}
.debit-card{

}
.debit-img{
    width: 25px;
    vertical-align: top;
}
.debit-card-ending{
    font-size: 10px;
    vertical-align: middle;
    margin: 15px;
    font-family: sans-serif;
}
.add-circle{
    color: #03AFFF;
    cursor: pointer;
    padding: 20px 50px;
    font-size: 13px;
}
.add-new-address{
    margin-left: -45px;
    vertical-align: text-bottom;
    font-size: 12px;
    color: #03AFFF;
}