<!-- <p>
  login works!
</p> -->

<div>
  <mat-card class="login">
    <h4>Welcome!</h4>
    <hr>
    <div>
      <form (ngSubmit)="login()" [formGroup]="loginForm">

        <div class="form-group">
          <small>Enter Your Email</small>
        <div>
          <mat-form-field appearance="outline">
            <input matInput type="email" placeholder="email" formControlName="email" required>
            <mat-error>{{getErrorMessage('email','email')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

        <div class="form-group"> 
          <small>Enter Your Password</small>
        <div>
            <mat-form-field appearance="outline">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon class="opa-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error>{{getErrorMessage('password','password')}}</mat-error>
            </mat-form-field>
          </div>
        </div>

              <div class="mr-bt-chk-10">
                  <mat-checkbox class="check-box">Remember Me</mat-checkbox>
              </div>

              <div class="mr-bt-10">
                  <button mat-stroked-button color="primary" class="sub-bt">Login</button>
              </div>

              <div class="mr-bt-10 for-pass">
                  <p routerLink="/auth/forget">Forgot Password</p>
              </div>
          

      </form>


    </div>

  </mat-card>
</div>