.sec-1{
    margin-top: 13px;
}
.ingredients{
    position: relative;
    width: 100%;
    margin-top: -12px;
}
.out-star{
    position: absolute;
    top: 80px;
    right: 76px;
    color: #ffff;
}
.share{
    position: absolute;
    top: 80px;
    right: 35px;
    color: #ffff;
}
.hyd-house{
    position: absolute;
    left: 50px;
    top: 150px;

}
.pen-circle{
    position: absolute;
    top: 49px;
    width: 100%;
    opacity: 0.9;
    padding: 4px 80px;
    font-size: 9px;
    border-radius: none;
    border-radius: none;
    border-radius: 0;
}
.mar-tp{
    margin-top: -150px;
}
.open{
    width: 9%;
    float: right;
    margin-top: -33px;
    padding: 6px;
    background: #2FBE6C;
    border: none;
    margin-right: 11px;
}
.eta{
    margin-left: 130px;
}
/* col-sm-9 */
.house-biryani h3{
    color: #03AFF0;
    margin-top: 25px;
}
.checked {
    color: orange;
  }
  .four-thirty{
    display: inline;
    color: #03AFFF;
}
.dollar{
    color: #03AFFF;
    margin-left: 70px;
}

.del{
    margin-left: 135px;
}
.eta-1{
    float: right;
    margin-right: 20px;
    font-size: 12px;
}
.about{
    margin-left: 28px;
    font-family: sans-serif;
    font-size: 22px;
    opacity: 0.9;
}
.review{
    margin-left: 75px;
}
.pizza{
   margin-top: 10px;
}
.pizza img{
    position: absolute;
    width: 145px;
    /* bottom: 0; */
    /* bottom: 0; */
    top: -10px;
    left: 284px;
}
.top-right{
    position: absolute;
    top: 3px;
    right: 0px;
    background: #FFF;
}

.margn-tp{
    margin-top: 15px;
}
.multi-items{
    height: 325px;
}
.multi-items1{
    height: 463px;
}
.multi-items2{
    height: 463px;
    margin-bottom: 31px;
}

.most-popular{
    color: #03AFF0;
}



/* food bag col-sm-3*/


.food-bag{
    background: #DCDCDC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    padding: 20px;
}
.food-bag h3{
    text-align: center;
    color: #8A8A8A;
}
.food-empty{
    border-radius: 0px 0px 10px 10px;
    position: relative;
    height: 535px;
    
}
.food-empty img{
    position: absolute;
    left: 94px;
    top: 145px;
}
.your-food-empty{
    color: #B5B5B5;
    position: absolute;
    left: 75px;
    top: 90px;
}

.arrow-up{
    position: absolute;
    right: 25px;
    top: 1440px;
    font-size: 45px;
    background: #03AFFF;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}