<div>
    <section>
        <app-profile></app-profile>
    </section>
    <mat-card class="pen-circle">Home/pencircle/Restorant/House of Biryani</mat-card>

    <div class="marg-30-50">
      <mat-card>
         <img src="../../assets/hyd_house_large.png" class="hyd-house-img">
         <h4 class="h4-text">House Biryanis and kebabs</h4>
         <div class="open-btn">
         <button mat-flat-button color="primary" class="open">OPEN</button>
         </div>
         <div class="main-street">
           <small class="small-main-street">211 Main street,PA<span class="eta-40-50">ETA 40-50 mins</span></small>
         </div>
         <br>
         <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435 Ratings)
            <span class="dollar">$$$</span>
          </h6>
        </div>
      </mat-card>
    </div>
</div>