<div>
  <mat-card class="forget-password">
    <h4>Welcome!</h4>
    <hr>
    <div class="center-text">
      <div>
        <small>Enter 4-Digit code sent to your registerd mobile number</small>
      </div>
      <div class="code-otp">
          <ng-otp-input class="otp-input" (onInputChange)="onOtpChange($event)" [config]="{length:4}"></ng-otp-input>
      </div>
    </div>

    <div class="rename-next">
      <button mat-stroked-button color="primary" class="resend-btn" (click)="phone()">Resend Code</button>
      <button mat-flat-button color="primary" class="next-btn" (click)="reset()">Next</button>
    </div>
    <h6>Need help?call(123)456-4568</h6>
  </mat-card>
</div>