.forget-password{
    width: 425px;
    position: absolute;
    right: 28%;
    left: 35%;
    top: 22%;
}
h4{
    text-align: center;   
    color: #03AFF0;
} 
hr{
    width: 85%;
}
.center-text{
    text-align: center;
}
.center-text small{
    font-size: 12px;
}
.code-otp{
    margin: 12px;
}
/* .otp-input{

} */
.rename-next{
    padding: 10px;
}
.next-btn{
    float: right;
    background: #03AFF0;
    width: 115px;
}
.resend-btn{
    color: #03AFF0;
    border-color: #03AFF0;
}
h6{
    padding: 10px;
    text-align: center;
    font-size: 8px;
    color: #03AFF0;
}
