<!--  <p>
  cusine-modeldialog works!
</p> -->
 <mat-card class="dialog-box">
   <form>
    <div class="find-food1">
      <mat-icon matSuffix class="material-icons location1">search</mat-icon>
      <input type="text" class="form-control pad1" placeholder="search cusine">
  </div>
   </form>
   <button class="btn btn-primary apply">Apply</button>
   <span class="material-icons clear" (click)=clear()>clear</span>
</mat-card> 

 <div class="search-cusine"> 

  <div>
      <ul>
          <li><mat-checkbox>Indian</mat-checkbox></li>
          <li><mat-checkbox>Chineese</mat-checkbox></li>
          <li><mat-checkbox>French</mat-checkbox></li>
          <li><mat-checkbox>Italian</mat-checkbox></li>
          <li><mat-checkbox>American</mat-checkbox></li>
          <li><mat-checkbox>Asian</mat-checkbox></li>
          <li><mat-checkbox>Australian</mat-checkbox></li>
          
       </ul>
  </div>
  <div>
      <ul>
          <li><mat-checkbox>Indian</mat-checkbox></li>
          <li><mat-checkbox>Chineese</mat-checkbox></li>
          <li><mat-checkbox>French</mat-checkbox></li>
          <li><mat-checkbox>Italian</mat-checkbox></li>
          <li><mat-checkbox>American</mat-checkbox></li>
          <li><mat-checkbox>Asian</mat-checkbox></li>
          <li><mat-checkbox>Australian</mat-checkbox></li>
       </ul>
  </div>
  <div>
      <ul>
          <li><mat-checkbox>Indian</mat-checkbox></li>
          <li><mat-checkbox>Chineese</mat-checkbox></li>
          <li><mat-checkbox>French</mat-checkbox></li>
          <li><mat-checkbox>Italian</mat-checkbox></li>
          <li><mat-checkbox>American</mat-checkbox></li>
          <li><mat-checkbox>Asian</mat-checkbox></li>
          <li><mat-checkbox>Australian</mat-checkbox></li>
       </ul>
  </div>
  <div>
      <ul>
          <li><mat-checkbox>Indian</mat-checkbox></li>
          <li><mat-checkbox>Chineese</mat-checkbox></li>
          <li><mat-checkbox>French</mat-checkbox></li>
          <li><mat-checkbox>Italian</mat-checkbox></li>
          <li><mat-checkbox>American</mat-checkbox></li>
          <li><mat-checkbox>Asian</mat-checkbox></li>
          <li><mat-checkbox>Australian</mat-checkbox></li>
       </ul>
  </div>
  
</div> 

