<!-- <p>
  phone-number works!
</p> -->

<div>
  <mat-card class="phone">
    <h4>Welcome!</h4>
    <hr>
    <div>
      <form>
        
          <div>
                <small>Enter Your Mobile NUmber</small>
          </div>
          <div>
                <mat-form-field appearance="outline">
                <input matInput placeholder="(23)456-4568">
                </mat-form-field>
           </div>

        <button mat-flat-button color="primary" class="next-btn" (click)="forget()">Next</button>
      </form>
    </div>
  </mat-card>
</div>