
    <section>
       <app-profile></app-profile>
    </section>
    <mat-card class="pen-circle">Home/pencircle/Restorant/House of Biryani</mat-card> 

    <div class="">
        <div class="row marg-row-0">
            <div class=" col-sm-2 pad-left-0">
                <div class="side-navi">

                    <nav>

                        <div class="slide-bar">
                            <ul>

                                <li routerLinkActive="active">
                                    <a routerLink="/my-ordes">Orders</a>
                                </li>
                                <hr>
                                <li routerLinkActive="active">
                                    <a routerLink="/my-profile">Profile</a>
                                </li>
                                <hr>
                                <li routerLinkActive="active">
                                    <a routerLink="/account-settings">Account Settings</a>
                                </li>
                                <hr>
                                <li routerLinkActive="active">
                                    <a routerLink="/home">Log Out</a>
                                </li>

                            </ul>

                        </div>
                    </nav>
                </div>

            </div>

            <!-- <div class="pad-left-0 bg-color">
                <router-outlet></router-outlet>
            </div> -->
            <div class=" col-sm-10">
                gdfdf
            </div>
        </div>
        
    </div>

    


