<!-- <p>
  map works!
</p> -->
<div>
  <div>
    <h4 class="house-birayni">House Biryani and kebabs</h4>
  </div>
  <span class="material-icons clear" (click)="clear()">clear</span>
  <div class="ratings">
    <small>Indian,Lunch Buffet</small>
  <div class="stars">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
    <h6 class="four-thirty">(435 Ratings)</h6>
  </div>
  <small>$0 minimum order</small> 
  </div>

<div class="map1">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15221.248345049926!2d78.40352882154892!3d17.49260950507682!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91c090be08b9%3A0xcbcf63ed707ebe19!2sVivekananda%20Nagar%2C%20Kukatpally%2C%20Hyderabad%2C%20Telangana%20500072!5e0!3m2!1sen!2sin!4v1590234255192!5m2!1sen!2sin" width="500" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>   
</div>
<div class="address-miles">
  <mat-card>
    <P class="street">
      2541,w main street<br>
      VV Nagar<br>
      KKT
    </P>
    <p class="miles">3.9 miles<br><br>
      (564)-4678

    </p>
  </mat-card>
  </div>
  <small class="avtive-hours">Active Hours</small>
  <div class="weeks">
    <ul>
      <li>Moday</li>
      <li>Tuesday</li>
      <li>Wednesday</li>
      <li>Thursday</li>
      <li>Friday</li>
      <li>Saturday</li>
      <li>Sunday</li>
    </ul>
  </div>
  <div class="hours">
    <ul>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      <li>10AM-9PM</li>
      
    </ul>
  </div>
  
</div>