<!-- <p>
  forget-password2 works!
</p> -->
<div>
    <mat-card class="login">
      <h4>Welcome!</h4>
      <hr>
      <div>
        <form (ngsubmit)="email()" [formGroup]="emailForm">
  
          
            <div class="form-group">
                <small>Enter Your e-mail</small>             
              <div>
                <mat-form-field appearance="outline">
                  <input matInput type="email" placeholder="Email" formControlName="email" required>
                  <mat-error>{{getErrorMessage('email','email')}}</mat-error>
                </mat-form-field>
              </div>
            </div>         
  
          <div class="mr-bt-10">
            <button mat-stroked-button color="primary" class="sub-bt" (click)="submit()">Submit</button>
          </div>
  
        </form>
      </div>
    </mat-card>
  </div>