<div>
  <mat-card class="login">
    <h4>Welcome!</h4>
    <hr>
    <div>
      <form (ngsubmit)="signup()" [formGroup]="signupForm">

        <div class="form-group">
          <small>Enter  Name</small>
        <div>
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Name" formControlName="name" required>
           <mat-error>{{getErrorMessage('name','Name')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

        <div class="form-group">
            <small>Enter Your Mobile NUmber</small>
             <div>
            <mat-form-field appearance="outline">
              <input matInput  placeholder="Mobile NUmber" formControlName="phone" (keypress)="keyPress($event)" minlength="10" maxlength="10" required>
              <mat-error>{{getErrorMessage('phone','phone Number')}}</mat-error>
            </mat-form-field>
          </div>
        </div>

          <div class="form-group">
              <small>Enter Your e-mail</small>           
              <div>
              <mat-form-field appearance="outline">
                <input matInput type="email" placeholder="Email" formControlName="email" required>
                <mat-error>{{getErrorMessage('email','email')}}</mat-error>
              </mat-form-field>
            </div>
          </div>

        <div  class="form-group">
          <small>Enter Your Password</small>        
        <div>
          <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="opa-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>{{getErrorMessage('password','password')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

        <div class="form-group">
          <small>Confirm Password</small>        
        <div>
          <mat-form-field appearance="outline">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmpassword" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="opa-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>{{getErrorMessage('confirmpassword','confirmpassword')}}</mat-error>
          </mat-form-field>
        </div>
      </div>

        <div class="mr-bt-10">
          <button mat-stroked-button color="primary" class="sub-bt" (click)="signup()">SignUp</button>
        </div>

        <div class="mr-bt-10 already-user">
          <p routerLink="/auth/login">Already User?</p>
        </div>
      </form>
    </div>
  </mat-card>
</div>