<div>
  <mat-card class="reset-password">
    <h4>Reset Password</h4>
    <div>
      <form>

        <div class="password-fields">
            <div>
                <small>Set password</small>
              </div>
              <div class="password1">
                <mat-form-field appearance="outline">
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon class="opa-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
      
      
              <div>
                <small>Confirm Password</small>
              </div>
              <div class="password1">
                <mat-form-field appearance="outline">
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon class="opa-0">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
        </div>
        </form>
    </div>
    <button mat-flat-button color="primary" class="next-btn">Save</button>
  </mat-card>
</div>