.reset-password{
    width: 425px;
    position: absolute;
    right: 28%;
    left: 35%;
    top: 22%;
}
h4{
    text-align: center;   
    color: #03AFF0;
}
.password-fields{
    padding: 25px 30px 0;
}
mat-form-field {
    
    width: 330px !important;
}
.next-btn{
    margin-left: 135px;
    background: #03AFF0;
    width: 115px;
}