.pad-40-15{
    padding: 25px 15px;
}
.filters{
    position: relative;
    margin-left: 27px;
    font-weight: bold;

}
.clear{
    position: absolute;
    font-size: 10px;
    color: #03afff;
    left: 28em;
    top: 30px;
}
.restorants{
position: absolute;
top: 17px;
left: 27em;
font-weight: bold;
}


/* second col-sm-3 */
.food-bag{
    background: #DCDCDC 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    padding: 20px;
}
.food-bag h3{
    text-align: center;
    color: #8A8A8A;
}
.food-empty{
    border-radius: 0px 0px 10px 10px;
    position: relative;
    height: 535px;
    
}
.food-empty img{
    position: absolute;
    left: 94px;
    top: 168px;
}
.your-food-empty{
    color: #B5B5B5;
    position: absolute;
    left: 75px;
    top: 110px;
}


/* First col-sm-3 */
.pad-btm{
    padding-bottom: 175px;
}
.delivery{
    border-radius: 0;
    background: #03afff;
    color: #ffff;
    font-size: 11px;
    width: 50%;
}

.pick-up{
    font-size: 11px;
    border-radius: 0;
    border-color: #03AFFF;
    width: 50%;
    color: #03AFFF;
}
hr{
    width: 70%;
}
.hr-2{
    margin-top: 45px;
    width: 70%;
}
.hr-3{
    margin-top: 106px;
    width: 70%;
}
.cusines{
color: #545454;
font-size: 12px;
cursor: pointer;
}
.clear-1{
    margin-left: 20px;
    font-size: 9px;
    color: #03AFFF;
}
.fooding-styles{
    border-radius: 20px;
    font-size: 10px;
    color: #000;
    opacity: 0.9;
    width: 31%;
}
.fooding-styles :hover{
    color: #03afff !important;
    border-color: #03afff !important;


}
.secnd-row{
    margin-top: 15px;
}
.load{
    float: right;
    font-size: 9px;
    color: #03AFFF;
    padding: 20px 0;
}
.rating{
    font-size: 14px;
    font-family: cursive;
}
.clear-2{
    margin-left: 20px;
    font-size: 9px;
    color: #03AFFF;
}

/* Rating */
.rating {
    float:left;

}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.3;
    color:#ddd;
    border: 1px solid #03AFF0;
    padding-left: 0;
    width: 43px;
    padding: 0px 0;
}

.rating:not(:checked) > label:before {
    content: '★';
    padding: 9px;
}

.rating > input:checked ~ label {
    color: #fff;
    background: #03AFFF;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #fff;
    background: #03AFFF;
}

.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #fff;;
}

/* col-sm-6 */
.hyd-postn-rel{
    position: relative;
}
.hyd-postn-rel-1{
    margin-top: 10px;
}
.hyd-house{
    position: absolute;
    left: 125px;
    top: 8px;
}
.mill-24{
    margin-left: 330px;
}
.ind-china{
    position: absolute;
    top: 30px;
    left: 125px;
    font-size: 10px;
}
.dollar{
    color: #03AFF0;
    margin-left: 385px;
    font-size: 13px;
}
.checked {
    color: orange;
  }
  .stars{
    position: absolute;
    top: 63px;
    left: 123px;
  }
.four-thirty{
    display: inline;
    color: #03AFFF;
}
.eta{
    margin-left: 298px;
    font-size: 10px;
    color: #000;
}
.rate-135{
    position: absolute;
    bottom: 12px;
    left: 124px;
    font-size: 10px;
}
.open{
    font-size: 9px;
    width: 11%;
    float: right;
    margin-top: -18px;
    padding: 3px;
    background: #2FBE6C;
    border: none;
}