<section>
  <app-profile></app-profile>
</section>

<div>
  <div class="col-sm-12 pad-40-15">

    <P class="filters">Filters</P>
    <span class="clear">Clear All</span>
    <div class="col-sm-3">
      <mat-card class="pad-btm">
        <button mat-stroked-button color="primary" class="delivery">Delivery</button>
        <button mat-stroked-button color="primary" class="pick-up">Pick Up</button>

        <hr>

        <p class="cusines" (click)="cusines()">Cusines
          <span class="clear-1">Clear All</span>
        </p>
        <div>
          <button mat-stroked-button color="primary" class="fooding-styles">Bengali</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">Italian</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">Chineese</button>
        </div>

        <div class="secnd-row">
          <button mat-stroked-button color="primary" class="fooding-styles">Indian</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">Arabian</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">Mexican</button>
        </div>

        <div class="secnd-row">
          <button mat-stroked-button color="primary" class="fooding-styles">Spanish</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">French</button>&nbsp;
          <button mat-stroked-button color="primary" class="fooding-styles">American</button>
        </div>
        <small class="load">Load More</small>

        <hr class="hr-2">

        <p class="rating">Rating
          <span class="clear-2">clear All</span>
        </p>
        <div class="star-rating">
          <fieldset class="rating">
            <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
            <label title="Rocks!" (click)='onClick(5)'>5 stars</label>

            <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
            <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

            <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
            <label title="Meh" (click)='onClick(3)'>3 stars</label>

            <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
            <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

            <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
            <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
          </fieldset>
        </div>

        <hr class="hr-3">

        <p class="rating">Price
          <span class="clear-2">clear All</span>
        </p>
        <div class="star-rating">
          <fieldset class="rating">
            <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
            <label title="Rocks!" (click)='onClick(5)'>5 stars</label>

            <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
            <label title="Pretty good" (click)='onClick(4)'>4 stars</label>

            <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
            <label title="Meh" (click)='onClick(3)'>3 stars</label>

            <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
            <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>

            <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
            <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
          </fieldset>
        </div>
      </mat-card>
    </div>

    <h5 class="restorants">Restorants near you</h5>
    <div class="col-sm-6">

      <mat-card class="hyd-postn-rel">
        <img src="../../assets/hyd_house.png" style="width: 15%;">
        <div>
          <h6 class="hyd-house">Hyderabad House
            <span class="mill-24">$24
              <small>Millinium</small>
            </span>
          </h6>

        </div>
        <div>
          <h6 class="ind-china">Indian,Chineese
            <span class="dollar">$$$</span>
          </h6>
        </div>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435)
            <span class="eta">ETA 40-50 mints</span>
          </h6>
        </div>
        <div>
          <h6 class="rate-135">135 Rating</h6>
          <button class="btn btn-primary open" (click)="house1()">open</button>
        </div>
      </mat-card>

      <mat-card class="hyd-postn-rel-1">
        <img src="../../assets/hyd_house.png" style="width: 15%;">
        <div>
          <h6 class="hyd-house">Hyderabad House
            <span class="mill-24">$24
              <small>Millinium</small>
            </span>
          </h6>

        </div>
        <div>
          <h6 class="ind-china">Indian,Chineese
            <span class="dollar">$$$</span>
          </h6>
        </div>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435)
            <span class="eta">ETA 40-50 mints</span>
          </h6>
        </div>
        <div>
          <h6 class="rate-135">135 Rating</h6>
          <button class="btn btn-primary open">open</button>
        </div>
      </mat-card>

      <mat-card class="hyd-postn-rel-1">
        <img src="../../assets/hyd_house.png" style="width: 15%;">
        <div>
          <h6 class="hyd-house">Hyderabad House
            <span class="mill-24">$24
              <small>Millinium</small>
            </span>
          </h6>

        </div>
        <div>
          <h6 class="ind-china">Indian,Chineese
            <span class="dollar">$$$</span>
          </h6>
        </div>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435)
            <span class="eta">ETA 40-50 mints</span>
          </h6>
        </div>
        <div>
          <h6 class="rate-135">135 Rating</h6>
          <button class="btn btn-primary open">open</button>
        </div>
      </mat-card>

      <mat-card class="hyd-postn-rel-1">
        <img src="../../assets/hyd_house.png" style="width: 15%;">
        <div>
          <h6 class="hyd-house">Hyderabad House
            <span class="mill-24">$24
              <small>Millinium</small>
            </span>
          </h6>

        </div>
        <div>
          <h6 class="ind-china">Indian,Chineese
            <span class="dollar">$$$</span>
          </h6>
        </div>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435)
            <span class="eta">ETA 40-50 mints</span>
          </h6>
        </div>
        <div>
          <h6 class="rate-135">135 Rating</h6>
          <button class="btn btn-primary open">open</button>
        </div>
      </mat-card>

      <mat-card class="hyd-postn-rel-1">
        <img src="../../assets/hyd_house.png" style="width: 15%;">
        <div>
          <h6 class="hyd-house">Hyderabad House
            <span class="mill-24">$24
              <small>Millinium</small>
            </span>
          </h6>

        </div>
        <div>
          <h6 class="ind-china">Indian,Chineese
            <span class="dollar">$$$</span>
          </h6>
        </div>
        <div class="stars">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
          <h6 class="four-thirty">(435)
            <span class="eta">ETA 40-50 mints</span>
          </h6>
        </div>
        <div>
          <h6 class="rate-135">135 Rating</h6>
          <button class="btn btn-primary open">open</button>
        </div>
      </mat-card>

    </div>

    <div class="col-sm-3">
      <mat-card class="food-bag">
        <h3>Food Bag</h3>
      </mat-card>
      <mat-card class="food-empty">
        <h5 class="your-food-empty">Your Food bag is empty</h5>
        <img src="../../assets/room-service.PNG">
      </mat-card>
    </div>
  </div>
</div>