.prvious-addres{
    font-size: 11px;
}
/* keyboard_arrow */
.arrow-key-close{
    float: right;
    font-size: 20px;
    cursor: pointer;
}
.address-home{
    padding: 12px;
}
.home-card{
    background: #8A8A8A 0% 0% no-repeat padding-box;
    border-radius: 5px 5px 0px 0px;

    padding: 10px;
}
.address-edit-card{
    border-radius: 0;
    
    border: 1px solid #8A8A8A;
    box-shadow: none;
}
/* first mat-card */
.btn-radio{
    float: left;
    font-size: 10px;
    margin-left: -15px;
    margin-top: -5px;
    color: #FFF;
}

.eta-40-50{
    font-size: 9px;
    font-family: calibri;
    margin-left: 130px;
}
.pencicle-1041{
    font-size: 9px;
    color: #8A8A8A;
}
.edit{
    color: #03AFFF;
    float: right;
    margin-top: 5px;
    cursor: pointer;
}
.address-work{
    padding: 12px;
}

/* add_circle */
.add-circle{
    color: #03AFFF;
    cursor: pointer;
    padding: 20px 40px;  
    font-size: 19px;
}
.add-new-address{

}