<small class="prvious-address">Previously used Adressess<span class="material-icons arrow-key-close" (click)="clear()">
    keyboard_arrow_down
    </span></small>

<div class="col-sm-12">

  <div class="col-sm-6">
    <div>
      <div class="address-home">
        <mat-card class="home-card">
          <mat-radio-button class="btn-radio" >Home<span class="eta-40-50">ETA 40-50 mins</span></mat-radio-button>
           </mat-card>
           <mat-card class="address-edit-card">
           <small class="pencicle-1041">1041,PenCircle,king of persia,PA<span class="edit"(click)="edit()">Edit</span></small>
         </mat-card>    
      </div>
    
      <div class="address-work">
        <mat-card class="home-card">
          <mat-radio-button class="btn-radio" >Home<span class="eta-40-50">ETA 40-50 mins</span></mat-radio-button>
    
        </mat-card>
        <mat-card class="address-edit-card">
          <small class="pencicle-1041">1041,PenCircle,king of persia,PA<span class="edit"(click)="edit()">Edit</span></small>
        </mat-card>    
      </div> 

    </div>
  </div>

  <div class="col-sm-6">
      <div>
        <div class="address-home">
          <mat-card class="home-card">
            <mat-radio-button class="btn-radio" >Home<span class="eta-40-50">ETA 40-50 mins</span></mat-radio-button>
             </mat-card>
             <mat-card class="address-edit-card">
             <small class="pencicle-1041">1041,PenCircle,king of persia,PA<span class="edit"(click)="edit()">Edit</span></small>
           </mat-card>    
        </div>
      
        <div class="address-work">
          <mat-card class="home-card">
            <mat-radio-button class="btn-radio" >Home<span class="eta-40-50">ETA 40-50 mins</span></mat-radio-button>
      
          </mat-card>
          <mat-card class="address-edit-card">
            <small class="pencicle-1041">1041,PenCircle,king of persia,PA<span class="edit"(click)="edit()">Edit</span></small>
          </mat-card>    
        </div> 
  
      </div>
    </div>   
    </div>
    <div>
      <span class="material-icons add-circle" (click)="openDialog1()">add_circle</span>
      <small class="add-new-address">Add New Address</small>
    </div>