.size-mat{
    padding: 3px;
}
.food-logo img{
    width: 43px;
    margin-left: 20px;
}
.food-logo span{
    padding-left: 15px;
    font-size: 15px;
    font-family: fantasy;
    color: #03AFF0;
}
.pad-top-0{
    top: 0;
}
.bg-color{
    background: #f6f8f9;
    height: 100%;
}
.postn-rel{
    position: relative;
    box-shadow: 0px 8px 10px #dcdcdc;
    border-radius: 0px 10px 10px 0px;
}
.account{
    position: absolute;
    right: 35px;
    top: 5px;
    color: #03Afff;
}
.account h6{
    margin-top: -5px;
    font-size: 10px;
}
.locat .location{
    position: absolute;
    padding: 5px 6px;
    color: #03AFF0;
    font-size: 13px;
}
.pad{
    padding-left: 23px;
    width: 220px;
    border-radius: 24px;
    height: 22px;
    font-size: 9px;
}
.locat .location1{
    position: absolute;
    padding: 5px 6px;
    opacity: 0.5;
    font-size: 13px;
}
.location-expand{
    position: absolute;
    padding: 0px 195px;
    opacity: 0.5;
    font-size: 23px;
}
.pad1{
    padding-left: 23px;
    width: 400px;
    border-radius: 24px;
    height: 22px;
    font-size: 9px;
}
.locat{
    position: absolute;
    left: 320px;
    top: 13px;
    
}
.find-food1{
    position: absolute;
    left: 245px;
    top: 0;
}
