<section class="bg-color">

         <div class="postn-rel">
        <mat-card class="size-mat">
            <div class="food-logo">
                <img src="../../assets/food-logo.png">
                <span>wat To Eat</span>
            </div>
        </mat-card>
         </div>

         <div>
        <div class="locat">
            <form>
                <div class="find-food">
                    <mat-icon matSuffix class="material-icons location">room</mat-icon>
                    <mat-icon matSuffix class="material-icons location-expand">expand_more</mat-icon>
                    <input type="text" class="form-control pad" placeholder="1041,pen circle.....">
                </div>
                <div class="find-food1">
                    <mat-icon matSuffix class="material-icons location1">search</mat-icon>
                    <input type="text" class="form-control pad1" placeholder="search food item,cusine,restorant">
                </div>
            </form>
        </div>
         </div>

         <div class="account">
        <span class="material-icons">person</span>
        <h6>profile</h6>  
         </div>

</section>