<div>
  <section>
    <app-profile></app-profile>
  </section>

  <section class="sec-1">
    <img src="../../assets/ingredients.png" class="ingredients">
    <span class="material-icons out-star">star_outline</span>
    <span class="material-icons share">share</span>
    <img src="../../assets/hyd_house.png" class="hyd-house">
    <mat-card class="pen-circle">Home/pencircle/Restorant/House of Biryani</mat-card>
  </section>

  <div class="mar-tp">
    <div class="col-sm-12">
      
      <div class="col-sm-9">
        <mat-card class="house-biryani">
          <h3>House Biryanis and kebabs</h3>
          <button class="btn btn-primary open">open</button>
          
          <h6 class="main-street">211 Main Street,PA
            <span class="eta">ETA 40-50 Min</span>
          </h6>
          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-full" style="color:orange">&nbsp;4.5</span>
            <h6 class="four-thirty">(435 Ratings)
              <span class="dollar">$$$</span>
            </h6>
          </div>
          <h6 class="min-order">$0 Minimun order
            <span class="del">$5.99 Deleivery Fee</span>
            <small class="eta-1">ETA 40-50 minutes</small>
          </h6>

          <hr>

          <h2 class="about" (click)="openDialog()">About
            <span class="review">Reviews</span>
          </h2>
        </mat-card>

        <div class="margn-tp">
          <mat-card class="multi-items">
            <h5 class="most-popular">Most Popular Items</h5>
            <div class="col-sm-12">
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6 (click)="openDialog1()">Chineese Pizza</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

              </div>
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>


        <div class="margn-tp">
          <mat-card class="multi-items1">
            <h5 class="most-popular">Beverages</h5>
            <div class="col-sm-12">
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

              </div>
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>
              </div>
            </div>
          </mat-card>
        </div>


        <div class="margn-tp">
          <mat-card class="multi-items2">
            <h5 class="most-popular">Appetizers</h5>
            <div class="col-sm-12">
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <div>
                    <img src="../../assets/pizza.png">
                  </div>
                  <div class="top-right">$10.00</div>
                </mat-card>

              </div>
              <div class="col-sm-6">
                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>

                <mat-card class="pizza">
                  <h6>Chicken Biryani</h6>
                  <p>
                    3 layerd cheese with curry leaves
                    <br> and tasty topings.3 layered cheese
                    <br> with curry leaves and tasty topings
                  </p>
                  <img src="../../assets/pizza.png">
                  <div class="top-right">$10.00</div>
                </mat-card>
              </div>
            </div>
          </mat-card>
          
        </div>
        
      </div>

      <div class="col-sm-3">
        <mat-card class="food-bag">
          <h3>Food Bag</h3>
        </mat-card>
        <mat-card class="food-empty">
          <div>
            <mat-card class="special-cheese">
              <div class="number">(2)
                <span class="special-pizza">special chineese pizza</span>
                <small class="pizza-rate">$20.99</small>
              </div>
              <div class="add-cheese">Add extra cheese,Add sausage,<br>Add hot peppers</div>
              <div class="medium-spicy">
                "Midum Spicy"
                <span class="material-icons delete">delete</span>
              </div>
            </mat-card>
          </div>
          <div>
            <mat-card class="chineese-cheese">
                <div class="number">(4)
                    <span class="special-pizza">Chickenchineesepizza</span>
                    <small class="pizza-rate">$26.99</small>
                  </div>
                  <div class="add-cheese">Add extra cheese,Add sausage,<br>Add hot peppers</div>
                  <div class="medium-spicy">
                    "Midum Spicy"
                    <span class="material-icons delete">delete</span>
                  </div>
                  
            </mat-card>
          </div>
          <div class="item-sub">Item Sub total<span class="total-rate">$46.99</span></div>

          <button mat-flat-button color="primary" class="Proceed" (click)="place()">Proceed to check out</button>
        </mat-card>
        <span class="material-icons arrow-up">keyboard_arrow_up</span>
      
      </div>

    </div>
  </div>

</div>

<div>
  <app-footer></app-footer>
</div>