<div>
  <section>
    <app-profile></app-profile>
  </section>
  <mat-card class="pen-circle">Home/pencircle/Restorant/House of Biryani</mat-card>

  <div>
    <div class="col-sm-12">


  <div class="col-sm-9 top-mrgn">
        <div>
            <div class="pad-0-40">
                <mat-card>
                  <div>
                    <h6 class="delivery-address-home">Delivery Address-Home
                      <span class="change" (click)="openDialog()">change</span>
                      
                    </h6>
                    <span class="material-icons arrow-key-right">keyboard_arrow_right</span>
                    <P class="pen-circle-1014">1014 pencircle<br>King of persia<br>PA<small class="eta-40-50">ETA-40-50-mins</small></P>
                  </div>
                  <div class="first-icon">
                    <mat-card class="room">
                      <span class="material-icons room-location">room</span>
                    </mat-card>
                  </div>
                </mat-card>
              </div>
        
              <div class="pad-0">
                <mat-card>
                  <div>
                    <h6 class="delivery-address-home">Delivery Instructions
                      <span class="change" (click)="instructions()">change</span>
                    </h6>
                    <span class="material-icons arrow-key-right">keyboard_arrow_right</span>
                    <small class="please-use">"Please use Mail gate"</small>
                  </div>
                  <div class="second-icon">
                    <mat-card class="room">
                      <span class="material-icons format-quote">format_quote</span>
                    </mat-card>
                  </div>
                </mat-card>
              </div>
        
              <div class="pad-0-40">
                <mat-card>
                  <div>
                    <h6 class="delivery-address-home">Payment
                      <span class="change" (click)="payment()">change</span>
                    </h6>
                    <span class="material-icons arrow-key-right">keyboard_arrow_right</span>
                    <img src="../../assets/visa-pay-logo.png" class="visa-img">
                    <small class="please-use">"Visa ending with 4589"</small>
                  </div>
                  <div class="second-icon">
                    <mat-card class="room">
                      <span class="material-icons room-location">attach_money</span>
                    </mat-card>
                  </div>
                </mat-card>
              </div>
        
        
              <div class="pad">
                <mat-card>
                  <div>
                    <h6 class="delivery-address-home">Account Credits
                      <span class="change" (click)="account()">change</span>
                    </h6>
                    <span class="material-icons arrow-key-right">keyboard_arrow_right</span>
                    <small class="please-use">"Balance $8.79"
                      <span class="redeemed">Redeemed $5.00</span>
                    </small>
                  </div>
                  <div class="second-icon">
                    <mat-card class="room">
                      <img src="../../assets/Dollar Bag.png" class="dollar-bag">
                    </mat-card>
                  </div>
                </mat-card>
              </div>
        
              <div class="pad-last-card">
                <mat-card>
                  <div>
                    <h6 class="delivery-address-home">Tips</h6>
                    <div class="grid-container">
                      <div class="grid-item">15%</div>
                      <div class="grid-item">20%</div>
                      <div class="grid-item">25%</div>
                      <div class="grid-item">30%</div>
                      <div class="grid-item">custom</div>
        
                    </div>
                    <br>
                    <div class="grid-container1">
                      <div class="grid-item1">$2.5</div>
                      <div class="grid-item1">$3.5</div>
                      <div class="grid-item1">$4.5</div>
                      <div class="grid-item1">$5.5</div>
        
        
                    </div>
                  </div>
                  <div class="cash-card">
                    <mat-card class="room">
                      <img src="../../assets/cash.PNG" class="cash">
                    </mat-card>
                  </div>
                </mat-card>
              </div>
        </div>

       

    </div>
      <div class="col-sm-3 top-mrgn">
        <mat-card class="food-bag">
          <div>
            <img src="../../assets/Hyd_house_small.png" class="hyd-house-small">
            <h5 class="biryani-font-size">House Biryanis and kebabs</h5>
            <small class="main-211">211 Main street,PA</small>
          </div>
        </mat-card>
        <mat-card class="food-empty">
          <div>
            <mat-card class="special-cheese">
              <div class="number">(2)
                <span class="special-pizza">special chineese pizza</span>
                <small class="pizza-rate">$20.99</small>
              </div>
              <div class="add-cheese">Add extra cheese,Add sausage,
                <br>Add hot peppers</div>
              <div class="medium-spicy">
                "Midum Spicy"
                <span class="material-icons delete">delete</span>
              </div>
            </mat-card>
          </div>
          <div>
            <mat-card class="chineese-cheese">
              <div class="number">(4)
                <span class="special-pizza">Chickenchineesepizza</span>
                <small class="pizza-rate">$26.99</small>
              </div>
              <div class="add-cheese">Add extra cheese,Add sausage,
                <br>Add hot peppers</div>
              <div class="medium-spicy">
                "Midum Spicy"
                <span class="material-icons delete">delete</span>
              </div>

            </mat-card>
          </div>
          <div class="item-sub">Item Sub total
            <span class="total-rate">$46.99</span>
          </div>
          <div>
            <h6 class="account-credit">Account Credits
              <span class="flt-rght">-$5.00</span>
            </h6>
            <h6 class="tax">sales Tax
              <span class="flt-rght">$2.94</span>
            </h6>
            <h6 class="tax">Service Tax
              <span class="flt-rght">$6.99</span>
            </h6>
            <h6 class="tax">Delivery Fee
              <span class="flt-rght">$5.99</span>
            </h6>
            <h6 class="tax">Tip
              <span class="flt-rght">$8.99</span>
            </h6>
          </div>

          <button mat-flat-button color="primary" class="Proceed">Place Order($46.99)</button>
        </mat-card>
      </div>

    </div>


  </div>









</div>