.pen-circle{
    position: absolute;
    top: 49px;
    width: 100%;
    opacity: 0.9;
    padding: 4px 80px;
    font-size: 9px;
    border-radius: 0;
    box-shadow: 0px 3px 5px #dcdcdc;
}





/* col-sm-3 */

.top-mrgn{
    margin-top: 45px;
}
small.main-211 {
    color: #8A8A8A;
    padding: 5px;
}
.biryani-font-size{
    float: right;
    margin-right: 12px;
    color: #03AFFF;
}
.hyd-house-small{
    float: left;
}
.food-bag{
    background: #00000029 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    padding: 20px;
}
.food-bag h3{
    text-align: center;
    color: #FFF;
}
.food-empty{
    border-radius: 0px 0px 3px 3px;
    position: relative;
    height: 550px;
    
}
.special-cheese{
    color: #F5F8F9;
    margin-top: -8px;
    margin-left: -17px;
    width: 112%;
    border-radius: 0;
}
.chineese-cheese{
    background: #F5F8F9;
    margin-top: 10px;
    margin-left: -16px;
    width: 112%;
    border-radius: 0;
}
.number{
color: #000;
}
.special-pizza{
    color: #03AFFF;
}
.pizza-rate{
    margin-left: 65px;
}
.add-cheese{
    font-size: 11px;
    margin-left: 23px;
    margin-top: 10px;
    color: #8A8A8A;
}
.medium-spicy{
    font-size: 10px;
    color: #000;
    margin-left: 24px;
}
.delete{
    color: #BD392C;
    font-size: 19px;
    margin-left: 150px;
}
.total-rate{
    float: right;
}
.item-sub{
    margin-top: 10px;
    font-size: 11px;
    font-weight: bold;
}
.account-credit{
    font-size: 10px;
    color: #2FBE6C;
    /* margin-top: 10; */
    margin-top: 20px;
}
.flt-rght{
    float: right;
}
.tax{
    font-size: 10px;
    color: #545454;
}
.Proceed{
    margin-left: 15px;
    margin-top: 50px;
    font-size: 11px;
    padding: 0 70px;
    background: #03AFFF;
}


/* col-sm-9 */
.vl{
    border-left: 1px solid #03AFFF;
    height: 500px;
}
.first-icon{
    position: absolute;
    top: 40px;
    left: -20px;
}
.room{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #03AFFF;
}
.room-location{
    color: #03AFFF;
    position: absolute;
    top: 8px;
    right: 7px;
}
.pad-0-40{
    padding: 0px 40px;
    width: 106%;
}

.delivery-address-home{
    margin-top: 0;
    font-size: 15px;
    padding: 0 30px;

}
.change{
    float: right;
    font-size: 13px;
    color: #03AFFF;
    font-family: calibri;
    margin-right: 5px;
    cursor: pointer;
}
.arrow-key-right{
    float: right;
    text-align: end;
    font-size: 22px;
    color: #03AFFF;
    margin: -30px 12px;
}
.pen-circle-1014{
    color: #8A8A8A;
    padding: 0px 30px;
}
.eta-40-50{
    
    float: right;
    margin: 16px -20px;
    letter-spacing: 1px;
}

/* matcard -2 */
.pad-0{
    padding: 50px 40px;
    width: 106%;   
}
.please-use{
    font-size: 10px;
    margin-left: 28px;
    color: #8a8a8a;
}
.second-icon{
    position: absolute;
    top: 19px;
    left: -20px;
}
.format-quote{
    color: #03AFFF;
    position: absolute;
    top: 2px;
    right: 2px;
    transform: rotate(180deg);
    font-size: 35px;
}

/* matcard-3 */
.visa-img{
    margin-left: 30px;
    width: 30px;
}
.redeemed{
    color: #2FBE6C;
    margin: 0 285px;
}
.pad{
    padding: 32px 40px;
    width: 106%;   
}
.dollar-bag{
    position: absolute;
    top: 8px;
    left: 4px;
    width: 30px;
}

/* Last mat card */
.pad-last-card{
    padding: 35px 40px;
    width: 106%;   
}
.grid-container {
    display: inline-flex;
    background-color: #ffffff;
    padding: 10px 30px;
  }
  .grid-item {
    border: 1px solid rgba(3, 175, 255, 0.45);
    padding: 5px 20px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
  }
  .grid-container1 {
    display: inline-flex;
    background-color: #ffffff;
    padding: 0px 30px;
  }
  .grid-item1 {
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 5px 20px;
    font-size: 11px;
    text-align: center;
  }
  .cash-card{
    position: absolute;
    top: 32px;
    left: -20px;
  }
  .cash{
    position: absolute;
    top: 12px;
    left: 4px;
    width: 30px;
  }



  