<div>
    <div>
        <mat-card class="marg-23">
            <h4 class="delivery-instructions">Account Credits
            <span class="material-icons cancel" (click)="cancel()">cancel</span></h4>
        </mat-card>
      </div>

      <div class="account-details">
          <mat-card class="account-details-card">
                <p class="wat-to eat">Wat to eat <br>
                    Sai Srinivas</p>
                 <h2 class="balance">$86.00<small class="in-your-account">In your account</small></h2> 
          </mat-card>
          <div>
              <div class="redeem-amount">
                  Enter the amount to redeem
              </div>
              <mat-card class="redeem-card">
                  <h3 class="redeem-balance">$00.00</h3>
                </mat-card>           
          </div>
      </div>
      <div class="max-redeem">
          <small>Maximun $15 can be redeemed order</small>
      </div>
      <div class="redeem-check">
            <button mat-flat-button color="primary" class="redeem-btn">Redeem</button>
        </div>
</div>
