.marg-23{
    margin: -21px -24px 22px;
}
.delivery-instructions{
    text-align: center;
}
.cancel{
    float: right;
    font-size: 16px;
    color: #BD392C;
    cursor: pointer;
}
.account-details{
    padding: 1px 50px;
}
.account-details-card{
    background: #03AFFF;
}
.wat-to.eat {
    font-size: 9px;
    color: #FFF;
    font-family: sans-serif;
    opacity: 0.8;
}
.in-your-account {
    font-size: 8px;
    color: #FFF;
    float: right;
    margin: 0 -65px;
}
.balance {
    margin: 30px 125px;
    color: #FFF;
}
.redeem-amount{
    margin: 20px 50px;
    font-size: 12px;
}
.redeem-balance{
    text-align: center;
    color: #DCDCDC;
}
.redeem-card{
    margin: -15px 44px;
}
.max-redeem{
    margin: 20px 112px;
    font-size: 9px;
}
.redeem-check{
    margin: 0px 70px;
}
.redeem-btn{
    padding: 0 93px;
    font-size: 10px;
    background: #03AFFF;
}