<div>
  <div>
    <span class="material-icons cancel" (click)="cancel()">cancel</span>
    <h3 class="new-address">Add New address</h3>
  </div>
  <div class="search">
    <mat-icon matSuffix class="material-icons search-icon">search</mat-icon>
    <input type="text" class="form-control pad1" placeholder="search">
  </div>

  <div class="col-sm-12">
    <form [formGroup]="addressForm">

      <div formGroupName="new-address">
        <div class="col-sm-5 first-col-5">

          <div class="form-group field1">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control">
          </div>

          <div class="form-group field1">
            <label>City</label>
            <input type="text" formControlName="city" class="form-control">
          </div>

          <div class="form-group field1">
            <label>Zip code</label>
            <input type="text" formControlName="zip" class="form-control">
          </div>

        </div>

        <div class="col-sm-5 second-col-5">

          <div class="form-group field1">
            <label>App/suite</label>
            <input type="text" formControlName="app" class="form-control">
          </div>

          <div class="form-group field1">
            <label>State</label>
            <input type="text" formControlName="state" class="form-control">
          </div>

          <div class="form-group field1">
            <label>Save As</label>
            <input type="text" formControlName="save" class="form-control" placeholder="home">
          </div>

        </div>
      </div>
        <button class="btn btn-primary save">save</button>
    </form>
  </div>

</div>