/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.otp-input{
    border: 1px solid #ffffff !important;
    border-bottom: 1px solid #ccc !important;
    background: #fafafa ;

}
.otp-input:focus{
    outline: none !important;
    
    
}
.btn-outline-primary:hover{
    border-color: white; 
}
.mat-tab-label{
    font-size: 12px !important;
}
.dash-align{
    max-width: 98%;
    margin-left: 15px;
    margin-top: 13px;
    background: #fff;
    height: 135px;
    position: relative;
    
}
.po-top{
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-checkbox-layout{
font-weight: 100;
font-size: 12px;
}
.opa-0{
    opacity: 0.3;
}
.cdk-overlay-container{
    backdrop-filter: blur(4px);
    
}
.mat-checkbox-inner-container{
    height: 11px !important;
    width: 11px !important;
    margin-left: 13px !important;
    
}
.mat-radio-outer-circle{
    height: 12px!important;
    width: 12px!important;
}
.mat-radio-container {
    width: 11px!important;
    height: 17px!important;
    margin-left: 13px!important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing{
    background-color: rgba(33, 31, 31, 0.77)!important;
}

.mat-dialog-container#mat-dialog-1 {
    background: transparent!important;
    background: none;
}

button:focus {
    /* outline: 1px dotted; */
    outline: none;
}
.address-home .home-card .btn-radio .mat-radio-inner-circle {
    background-color: #FFF!important;
    width: 12px!important;
    height: 12px!important;
}   
.address-home .home-card .btn-radio .mat-radio-outer-circle{
    border-color: #FFF!important;
    border-width: 0.1px!important;
}
.address-work .home-card .btn-radio .mat-radio-inner-circle {
    background-color: #FFF!important;
    width: 12px!important;
    height: 12px!important;
}   
.address-work .home-card .btn-radio .mat-radio-outer-circle{
    border-color: #FFF!important;
    border-width: 0.1px!important;
}
.mat-step-header .mat-step-icon-selected, .mat-step-header 
.mat-step-icon-state-done, .mat-step-header 
.mat-step-icon-state-edit{
    background-color: #FFF;
    color: #03AFFF;
    width: 45px;
    height: 45px;
    border: 1px solid #03AFFF;
  }