<!-- <p>
  home works!
</p> -->
<section class="food-img">
    <div class="head-position">
        <img src="../../assets/food.png">

        <div class="header-menu">
            <div>
                <div class="pull-left">
                    <div>
                        <img src="../../assets/food-logo.png">
                        <h3>Wat To Eat</h3>
                    </div>

                </div>

                <div class="pull-right align-btn">
                    <span routerLink="/auth/login">
                        <a>LogIn</a>
                    </span>
                    <button class="btn btn-primary sign-btn" (click)="signup()">Sign up</button>

                </div>
            </div>
        </div>
    </div>

    <div class="outer">
        <div class="middle">
            <div class="inner">
                <small>Get upto</small>
                <h4>10% Cash back</h4>
                <small>On every order.No coupon Needed</small>
            </div>
        </div>
    </div>

    <article class="v-box">
        <h2>Order for delivery or PickUp</h2>
    </article>

    <div class="locat">
        <form>
            <div class="find-food">

                <mat-icon matSuffix class="material-icons location">room</mat-icon>
                <input type="text" class="form-control pad" placeholder="Enter your Address">
                <span class="food-btn">
                    <button class="btn btn-primary" (click)="filters()">Find Food</button>
                </span>
            </div>
        </form>
    </div>
    <div class="dwld-btn">
        <button mat-raised-button>Download the App</button>
    </div>
</section>

<section>
    <div class="background">
        <div class="layer">
            <h4>How it works</h4>
            <div class="col-sm-12 contact">

                <div class="col-sm-3 ">
                    <div>
                        <div class="modal-blur">
                            <span class="material-icons center-icons">
                                phone_android
                            </span>
                        </div>
                        <div class="order-info">
                            <h5>Order Your favorite food
                                <br>from restorants
                                <br>near you</h5>
                        </div>
                    </div>
                    <div class="angle">
                        <span class="material-icons angle-arrw">
                            keyboard_arrow_right
                        </span>
                    </div>
                </div>

                <div class="col-sm-3 ">
                    <div>
                        <div class="modal-blur">
                            <span class="center-icons-1">
                                <img src="../../assets/mall.png" class="bag" width="65px">
                            </span>
                        </div>
                        <div class="order-info">
                            <h5>Deliver at your Door steps or pick up at restorants</h5>
                        </div>
                    </div>
                    <div class="angle">
                        <span class="material-icons angle-arrw">
                            keyboard_arrow_right
                        </span>
                    </div>
                </div>

                <div class="col-sm-3 ">
                    <div>
                        <div class="modal-blur">
                            <span class="center-icons-1">
                                <img src="../../assets/star.png" width="65px">
                            </span>
                        </div>
                        <div class="order-info">
                            <h5>Enjoy Food and
                                <br>tell us what you think</h5>
                        </div>
                    </div>
                    <div class="angle">
                        <span class="material-icons angle-arrw">
                            keyboard_arrow_right
                        </span>
                    </div>
                </div>

                <div class="col-sm-3 ">
                    <div>
                        <div class="modal-blur">
                            <span class="material-icons center-icons">
                                local_atm
                            </span>
                        </div>
                        <div class="order-info">
                            <h5 class="cash-back">Get cash back on
                                <br> every order</h5>
                            <p>Get cash back upto 10% on every order and
                                <br> redeem it with next order</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>

<section class="sec-3">
    <div class="container">
        <div class="pad-top-bt">
            <div class="col-sm-12 ">
                <div class="col-sm-6">
                    <div>
                        <div>
                            <span class="material-icons store">store</span>
                        </div>
                        <h3 class="enroll">Enroll with wat to Eat</h3>
                        <p class="boost">Boost your sales and revenue by
                            <br>reaching new customers</p>
                        <p class="start">Get Started</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div>
                        <div>
                            <div>
                                <span class="material-icons store1">directions_car</span>
                            </div>
                            <h3 class="enroll">Deliver with wat to Eat</h3>
                            <p class="boost">Join wat to eat.Easy signup process.
                                <br>Make more money</p>
                            <p class="start">Get Started</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <app-footer></app-footer>
</section>